

// Navbar //

ul.nav.navbar-nav.collapse.navbar-collapse {
    float: right;
}


// Header  //

#header {
  background: url("/wordpress_1/wp-content/uploads/2016/08/professional-resources_352x170.jpg");
  background-size: cover;
}

#site-description {
  font-size: 2rem;
}






.padding-bottom {
  padding-bottom: 1rem;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}
